<% provide(:title, "About Page") %>
<div class="mainCon">

<h1>About Us</h1>
<p>Company founded 2021 by CEO Daniel Escott.</p>
<br>
<p>The aim of the company is to provide a space for people to share recipes. Escpecially for people that have dietary requirements.</p>
<br>
<p>We encourage our users to provide feedback on each others recipes. Together were stronger!</p>



</div>
