<% provide(:title, "Contact Page") %>
<div class="mainCon">

<h1>Contact</h1>
<div class="itemhol">
   
      <tr>
        
        <h1>Phone</h1>
        <p>+353 123 456</p>
        
        <h1>Email</h1>
        <p>foodforthought@mail.com</p>
        
        <h1>Twitter</h1>
        <p>@foodforthought</p>
        
</div>

</div>
