/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require commontator/application
 */
 
 
 
 .headSection {
    min-height:10px;
    background-color: #50a832;
    width: 100%;
    margin-bottom:10px;
    overflow: auto;
    background: url("/assets/site/homepic2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.headSection h1 {
    color: #ffffff;
    font-size: 80px;
    padding: 15px;
    
}

h1{
    color: #50a832;
    font-size: 25;
    padding: 15px;
    
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #50a832;    
    
}

li {float:left;}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    
}

#nav {
width:100%;
margin:0 auto;
list-style:none;
overflow: hidden;
background-color: #50a832;
}

#nav li {
float:left;
}

#nav a {
color: #ffffff;
display:block;
text-align:center;
width:278px;
text-decoration:none; 
}


.mainCon { 
    
    margin: auto;
    width:90%;
    border: 3px solid #50a832;
    padding: 10px;
    text-align: center;
    color: #50a832;
}

.mainCon p {
   display: block;
    color: #50a832;
    text-align: center;
    padding: 2px 3px;
    text-decoration: none;
    font-size: 16px
}

.welcomeImage {width: 20%;}


.foot {
    text-align: center;
    min-height: 50px;
    background-color: #50a832;
    width: 100%;
    margin-top: 5px;
    overflow: auto;
}

.foot h1 {
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
    
}

.appcon {
      background: url("/assets/site/conbook.png");
      background-repeat:no-repeat;
      background-position:bottom;
      width: 100%;
      min-height: 800px;
}





#itemsContainer {
    width: 100%;
    text-align: center;
    
    
}


#itemsContainer h1 {
   display: block;
    color: #50a832;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    
    
}


.itemhol {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: inline-block;
    width: 25%;
    padding:2px;
    min-height: 200px;
   
}


.itemhol h1 {
   display: block;
    color: #E14B0A;
    text-align: center;
    padding: 2px 3px;
    text-decoration: none;
    font-size: 20px
    
}


.itemhol p {
   display: block;
    color: #50a832;
    text-align: center;
    padding: 2px 3px;
    text-decoration: none;
    font-size: 16px
    
}



.itemholIm {
    width: 80px;
    height: 80px;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}

.homeIm{
    width: 120px;
    height: 120px;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.button {
    background-color: #50a832;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=submit] {
    width: 100%;
    background-color: #50a832;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #dbdb1d;
}


#tab {
    border-collapse: collapse;
    width: 100%;
}

#tab td, #tab th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tab tr:nth-child(even){background-color: #ddd;}


#tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #50a832;
    color: white;
}